html {
    min-height: 100%;
}
body {
    font-family: 'nunito', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    color: #fff;
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}
a > span {
    border-bottom: 1px dashed;
}
b {
    font-weight: 400;
    font-size: 120%;
}
.bg-filter {
    background: url(forfog.jpg) bottom;
    background-color: #333;
    /*filter: brightness(1.5);*/
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -2;
    left: 0;
    top: 0;
}
.body-filter {
    /*background: linear-gradient(to right, rgba(255,255,255,.4) 25%, rgba(50, 45, 50, .8) 25%, rgba(50, 45, 50, .8) 75%, rgba(255,255,255,.4) 75%);*/
    background: rgba(45, 45, 45, .7);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}
.main-title {
    /*font-family: 'josefin sans', 'nunito', sans-serif;*/
    font-family: 'nunito', sans-serif;
    margin: 20vh auto 0;
    position: relative;
    font-weight: 200;
    font-size: 42px;
    vertical-align: bottom;
}
.main-title span {
    background: url(switch-ok.svg) top no-repeat;
    /*filter: invert();*/
    background-size: 100%;
    display: inline-block;
    position: relative;
    height: 32px;
    width: 54px;
    margin: 1px 3px -1px;
    /*top: -12px;*/
}
.moto-wrap {
    font-family: 'nunito', sans-serif;
    margin: 0 0 15vh 5px;
    letter-spacing: .2;
    font-size: 18px;
}
.mail-wrap {
    margin: 16vh auto 0;
}
.info-wrap {
    opacity: 1;
}
.info-wrap.o {
    opacity: 0;
}
.info-wrap.m {
    -webkit-transition: .3s;
    opacity: 1;
}
.info-wrap-small {
    margin-top: 20vh;
}
.hint-wrap {
    left: calc(50% - 200px);
    /*text-align: justify;*/
    position: absolute;
    border-radius: 10px;
    text-shadow: none;
    font-weight: 200;
    background: rgba(50,50,50,.2);
    border: 1px solid #fff;
    font-size: 17px;
    padding: 20px;
    width: 360px;
    color: #fff;
    z-index: -1;
    opacity: 0;
    top: 38.5vh;
}
.hint-wrap.m {
    -webkit-transition: .3s;
    opacity: 1;
    z-index: 1;
}
.hint-wrap span {
    text-align: center;
    display: block;
    color: #555;
}
.hint-label {
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    margin: 0 auto;
}
.hint-label:hover {
    -webkit-transition: .3s;
    opacity: .1;
}

@media only screen
and (min-device-width : 0)
and (max-device-width : 1024px)
and (orientation : landscape), only screen
and (min-device-width : 0)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body {
        font-size: 34px;
    }
    .main-title {
        margin: 10vh auto 0;
        font-size: 80px;
    }
    .main-title span {
        height: 60px;
        width: 100px;
    }
    .moto-wrap {
        font-size: 34px;
    }
    .hint-wrap {
        left: calc(50% - 360px);
        border-radius: 20px;
        font-size: 32px;
        padding: 30px;
        width: 680px;
        top: 28vh;
    }
    .hint-wrap br {
        display: none;
    }
    .hint-wrap br:last-of-type {
        display: block;;
    }
}
