html {
    min-height: 100%;
}
body {
    font-family: 'nunito', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    color: #fff;
    padding: 0;
    margin: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
a > span {
    border-bottom: 1px dashed;
}
b {
    font-weight: 600;
    font-size: 120%;
}
.bg-filter {
    background: url(baikalice.jpg) bottom;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -2;
    left: 0;
    top: 0;
}
.body-filter {
    /*background: linear-gradient(to right, rgba(255,255,255,.4) 25%, rgba(50, 45, 50, .8) 25%, rgba(50, 45, 50, .8) 75%, rgba(255,255,255,.4) 75%);*/
    background: rgba(50, 45, 50, .8);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}
.main-title {
    /*font-family: 'josefin sans', 'nunito', sans-serif;*/
    font-family: 'nunito', sans-serif;
    margin: 20vh auto 0;
    position: relative;
    font-weight: 300;
    font-size: 40px;
}
.main-title span {
    background: url(switch.png) top no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    height: 29px;
    width: 64px;
}
.moto-wrap {
    font-family: 'nunito', sans-serif;
    margin: 0 0 15vh 5px;
    font-size: 18px;
}
.mail-wrap {
    margin: 16vh auto 0;
}
.info-wrap-small {
    margin-top: 20vh;
}
.hint-wrap {
    left: calc(50% - 200px);
    text-align: justify;
    position: absolute;
    border-radius: 4px;
    text-shadow: none;
    font-weight: 400;
    background: #fff;
    font-size: 16px;
    padding: 20px;
    width: 360px;
    color: #555;
    z-index: -1;
    opacity: 0;
    top: 36vh;
}
.hint-wrap span {
    text-align: center;
    display: block;
    color: #555;
}
.hint-label {
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    margin: 0 auto;
}
.hint-label:hover + .hint-wrap {
    -webkit-transition: .3s;
    opacity: 1;
    z-index: 1;
}
.hint-label:hover {
    -webkit-transition: .3s;
    opacity: .1;
}

@media only screen
and (min-device-width : 0)
and (max-device-width : 1024px)
and (orientation : landscape), only screen
and (min-device-width : 0)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body {
        font-size: 34px;
    }
    .main-title {
        margin: 10vh auto 0;
        font-size: 80px;
    }
    .main-title span {
        height: 57px;
        width: 127px;
    }
    .moto-wrap {
        font-size: 36px;
    }
    .hint-wrap {
        left: calc(50% - 320px);
        font-size: 32px;
        width: 600px;
        top: 28vh;
    }
}
